<div class="mt-5">
    <div class="container text-center">
       <div *ngIf="!showLogin" class="sendEnq mt-5">
       <h2 class="mb-4 text-center">Seller SignUp</h2>
       <form #sellerSignup="ngForm" (ngSubmit)="signup(sellerSignup.value)">
          <div class="mb-4">
            <input type="text" name="name" class="form-control" placeholder="Name" ngModel>
          </div>
          <div class="mb-4">
            <input type="email" name="email" class="form-control" placeholder="Email" ngModel>
          </div>
          <div class="mb-4">
            <input type="password" name="password" class="form-control" placeholder="Password" ngModel>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <p class="mt-3 text-center"><a (click)="showSellerLogin()">Already have Account? Click Here</a></p>
        </form>
    </div>
    <div *ngIf="showLogin" class="sendEnq mt-5">
        <h2 class="mb-4 text-center">Seller Login</h2>
        <p class="text-center text-danger mb-3">{{loginError}}</p>
        <form #sellerlogin="ngForm" (ngSubmit)="login(sellerlogin.value)">          
           <div class="mb-4">
             <input type="email" name="email" class="form-control" placeholder="Email" ngModel>
           </div>
           <div class="mb-4">
             <input type="password" name="password" class="form-control" placeholder="Password" ngModel>
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
           <p class="mt-3 text-center"><a (click)="showSellerSignup()">Don't have Account? Click Here</a></p>
         </form>
     </div>
   </div>
   </div>
