<div class="mt-5">
<div class="container text-center">
    <div *ngIf="!showLogin" class="sendEnq mt-5">
    <h2 class="mb-4 text-center">User SignUp</h2>
    <form #userSignup="ngForm" (ngSubmit)="signup(userSignup.value)">
        <div class="mb-4">
        <input type="text" name="name" class="form-control" placeholder="Name" ngModel>
        </div>
        <div class="mb-4">
        <input type="email" name="email" class="form-control" placeholder="Email" ngModel>
        </div>
        <div class="mb-4">
        <input type="password" name="password" class="form-control" placeholder="Password" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <p class="mt-3 text-center"><a (click)="showUserLogin()">Already have Account? Click Here</a></p> 
    </form>
</div>
<div *ngIf="showLogin" class="sendEnq mt-5">
    <h2 class="mb-4 text-center">User Login</h2>
    <p class="text-center text-danger mb-3">{{isLoggedMsg}}</p> 
    <form #userlogin="ngForm" (ngSubmit)="login(userlogin.value)">          
        <div class="mb-4">
            <input type="email" name="email" class="form-control" placeholder="Email"
             #email="ngModel" required email ngModel>
             <span class="error" *ngIf="email.invalid && email.touched">Please Enter Valid Email</span>
        </div>
        <div class="mb-4">
            <input type="password" name="password" class="form-control" placeholder="Password"
            #password="ngModel" minlength="2" maxlength="10" required ngModel>
            <span class="error" *ngIf="password.invalid && password.touched">Please Enter Valid Email</span>
        </div>
        <button type="submit" [disabled]="!userlogin.valid" class="btn btn-primary">Submit</button>
        <p class="mt-3 text-center"><a (click)="showUserSignup()">Don't have Account? Click Here</a></p>
        </form>
   </div>
</div>
</div>
