<div class="container mt-5 product-details">
  <div class="mb-5 pb-3 border-bottom"><h3>Product Details</h3></div>   
  <div class="row" *ngIf="productData">
   <div class="col-sm-4">
      <img src="{{productData.imgUrl}}" alt="" /> 
   </div>
   <div class="col-sm-6 proDtls">
    <div class="mb-3 d-block"><h5>{{productData.name}}</h5></div>
    <p>Category : {{productData.category}} </p>
    <p>Color : <span class="proColor" [style.backgroundColor]="productData.color"></span></p>
    <p>Price : <span class="price">{{productData.price}}</span></p>
    <div><h6>Description</h6> <span>{{productData.description}}</span></div>
    <div class="qtyGroup mt-3">
      <button type="button" (click)="handleQuantity('min')">-</button>
      <input type="text" name="quantity" value="{{productQuantity}}">
      <button type="button" (click)="handleQuantity('plus')">+</button>
    </div>  
    <p class="vwBtn mt-4"><a href="" class="btn btn-primary ">Buy Now</a>
      <a *ngIf="!removeCart" class="btn btn-outline-primary ms-2" (click)="addToCart()">Add To Cart</a>
      <a *ngIf="removeCart"  class="btn btn-outline-primary ms-2" (click)="removeToCart(productData.id)">Remove To Cart</a> 
    </p>
  </div></div>
</div>